In [13]:
import pandas as pd

In [14]:
# Read the CSV file
file_path = 'resources/Airline_Delay_Cause-3.csv'
df = pd.read_csv(file_path)

In [15]:
# Select only 'carrier' and 'carrier_name' columns and remove duplicates
carrier_df = df[['carrier', 'carrier_name']]
unique_carrier_df = carrier_df.drop_duplicates(subset=['carrier', 'carrier_name'])

In [16]:
# Save the unique carriers DataFrame to a new CSV file
carrier_output_file_path = 'resources/Unique_Airline_Carriers.csv'
unique_carrier_df.to_csv(carrier_output_file_path, index=False)

In [17]:
# Select only 'airport' and 'airport_name' columns and remove duplicates
airport_df = df[['airport', 'airport_name']]
unique_airport_df = airport_df.drop_duplicates(subset=['airport', 'airport_name'])

In [18]:
# Save the unique airports DataFrame to a new CSV file
airport_output_file_path = 'resources/Unique_Airports.csv'
unique_airport_df.to_csv(airport_output_file_path, index=False)

In [19]:
# read the Jan_2020_ontime.csv file
file_path = 'resources/Jan_2020_ontime.csv'
df = pd.read_csv(file_path)

In [20]:
#Check for duplicates
df.duplicated().sum()

0

In [21]:
# drop unamed column
df.drop(columns=['Unnamed: 21'], inplace=True)

In [22]:
df.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,1197705,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,1393007,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,1541205,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,1226603,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,1226603,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0

In [23]:
# export resuts to csv
df.to_csv('resources/flights.csv', index=False)

In [24]:
#datatypes
df.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
dtype: object